
        <footer class="vw-footer">
            <div class="vw-container">
                <p>Made with</p>
                <a href="#" class="vw-footer-logo has-img-fit">
                    <img src="" alt="">
                </a>
                <p>©test.com</p>
            </div>
        </footer>