<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../../../scss/vw-common.scss">
        {% block head %}{% endblock head %}
    </head>

    <body>

        <div class="vw-wrapper">
            {% include "layouts/header.njk" %}
            <main class="vw-content">
                {% block content %}{% endblock content %}
            </main>
            {% include "layouts/footer.njk" %}
        </div>

        <script src="../../../app.js"></script>
    </body>

</html>