<footer class="vw-footer">
    <div class="vw-container">
        <p>Made with</p>
        <a href="#" class="vw-footer-logo has-img-fit text-brand-style">
            <span class="text-brand-color">Wedding</span> Venture
        </a>
        <p>©test.com</p>
    </div>
</footer>