{% import "../../macros/macro-review.njk" as review %}
{% set stats1 = [{key: "Responsiveness", value: "5.0"}, {key: "Value", value: "5.0"}, {key: "Professionalism", value: "5.0"}, {key: "Reccomendation possibility", value: "5.0"}] %}
{% set stats2 = [{key: "Responsiveness", value: "4.0"}, {key: "Value", value: "3.0"}, {key: "Professionalism", value: "5.0"}, {key: "Reccomendation possibility", value: "5.0"}] %}
{% set statsArray = [stats1, stats2] %}
<section class="vw-section vw-reviews" id="reviews">
    <div class="vw-section-header">
        <div class="vw-container">
            <h2>
                Reviews
            </h2>
        </div>
    </div>
    <div class="vw-section-content">
        <div class="vw-container">
            <ul class="vw-reviews-list list-style">
                {% for stats in statsArray %}
                    <li class="vw-reviews-list-item">
                        {{review.review("https://assets.codepen.io/12005/windmill.jpg", "Emily R", "January 25, 2018", "My fiancé and I had an absolutely wonderful time having our engagement photos taken with Mr. Hawk. He was kind, generous with his time and knew exactly how to", stats)}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>