<section class="vw-section vw-hero">
    <div class="vw-section-header">
        <div class="vw-container">
            <h1>
                Wedding photographer<br/>
                Based in seattle, WA
            </h1>
        </div>
    </div>
</section>