<section class="vw-section vw-posts" id="posts">
    <div class="vw-section-header">
        <div class="vw-container">
            <h2>
                recent posts
            </h2>
        </div>
    </div>
    <div class="vw-section-content">
        <div class="vw-container">
            <ul class="vw-posts-list list-style">
                <li class="vw-posts-list-item">
                    <article class="vw-post-card">
                        <div class="vw-post-card-img has-img-fit"><img src="" alt=""></div>
                        <div class="vw-post-card-content">
                            <h3 class="vw-post-card-title">Wedding Videography Packages with Love Story</h3>
                            <p class="vw-post-card-metadata">
                                <span>3 minute read</span>
                                <span class="date">January 25, 2018</span>
                            </p>
                            <p class="vw-post-card-desc hidden-xs">Ahmed and Amina was full of excitement and a joy to film. The wedding was a two day celebration. The couple decided to make the first day of their wedding an America tradition; the second...</p>
                            <a href="#" class="vw-button">read</a>
                        </div>
                    </article>
                </li>
                <li class="vw-posts-list-item">
                    <article class="vw-post-card">
                        <div class="vw-post-card-img has-img-fit"><img src="" alt=""></div>
                        <div class="vw-post-card-content">
                            <h3 class="vw-post-card-title">Packages with Love Story</h3>
                            <p class="vw-post-card-metadata">
                                <span>3 minute read</span>
                                <span class="date">January 25, 2018</span>
                            </p>
                            <p class="vw-post-card-desc hidden-xs">We had the opportunity to film Romeo and Tami’s wedding. The couple decided to host their wedding at the beautiful Rebecca Gardens in Alabama. It was another memorable moment for...</p>
                            <a href="#" class="vw-button">read</a>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>