<section class="vw-section vw-gallery" id="gallery">
    <div class="vw-section-content">
        <div class="vw-container">
            <ul class="vw-gallery-list list-style">
                <li class="vw-gallery-list-item has-img-fit">
                    <img src="https://assets.codepen.io/12005/windmill.jpg" alt="">
                </li>
                <li class="vw-gallery-list-item has-img-fit">
                    <img src="https://assets.codepen.io/12005/suspension-bridge.jpg" alt="">
                </li>
                <li class="vw-gallery-list-item has-img-fit">
                    <img src="https://assets.codepen.io/12005/sunset.jpg" alt="">
                </li>
            </ul>
            <a class="vw-button" href="#">gallery</a>
        </div>
    </div>
</section>