{% import "../macros/macro-list.njk" as list %}
{% set items = ["https://assets.codepen.io/12005/windmill.jpg", "https://assets.codepen.io/12005/suspension-bridge.jpg", "https://assets.codepen.io/12005/sunset.jpg"] %}

<section class="vw-section vw-gallery" id="gallery">
    <div class="vw-section-content">
        <div class="vw-container">
            {{ list.gallery(items) }}
            <a class="vw-button" href="#">gallery</a>
        </div> 
    </div>
</section>