{% macro gallery(items, hasModals) %}
    <ul class="vw-gallery-list list-style" data-prop="lightgallery">
        {% for item in items %}
            <li class="vw-gallery-list-item has-img-fit">
                {% if hasModals %}
                    <a class="img-bg has-img-fit" href="{{item}}">
                        <img src="{{item}}" alt="">
                    </a>
                {% else %}
                    <img src="{{item}}" alt="">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
{% macro stats(items) %}
    <ul class="list-style">
        {% for item in items %}
            <li>
                <span class="rate">{{item.value}}</span>
                <span>{{item.key}}</span>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}