<section class="vw-section {% block class %}{% endblock class %}" id="{% block id %}{% endblock id %}">
    <div class="vw-section-header">
        {% block header %}{% endblock header %}
    </div>
    <div class="vw-section-content">
        {% block content %}{% endblock content %}
    </div>
</section>