/* VENDOR WEBSITE CUSTOM STYLING: THEME TWO */
@import "./mixins/mixins";

h1,
.vw-h1,
h2,
.vw-h2,
h3,
.vw-h3,
h4,
.vw-h4 {
    font-family: 'CormorantGaramond';
    text-align: center;
    text-transform: none;
}

.vw-button,
a.vw-button,
button.vw-button {
    font-size: Min(getvw(13px), getrem(15px));
    text-transform: none;
}

.vw-hero {
    background-color: #f8f5f5;

    &::after {
        position: absolute;
        content: '';
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        height: Min(355px, getvw(120px));
        background-color: inherit;
    }
}

.vw-gallery {
    .vw-container {
        background-color: transparent;
    }

    &-list {
        height: auto;
        grid-template-rows: repeat(auto-fill, minmax(min(355px, #{getvw(90px)}), 1fr));

        &-item {
            padding-top: percentage(355 / 544);

            &:first-child {
                grid-row: 1/3;
                grid-column: 1/3;
                padding-top: percentage(732 / 1100);
            }

            &:nth-child(2) {
                grid-row: 3/5;
            }
        }
    }
}

.vw-posts {
    &-list {
        &-item {
            margin-bottom: Min(getvw(45px), getrem(60px));
        }
    }
}

.vw-post-card {
    $gap: 60px;
    height: auto;
    align-items: stretch;
    gap: getrem($gap);


    &-content {
        text-align: center;
        background-color: #f8f5f5;
    }

    &-metadata {
        justify-content: center;
        margin-bottom: 35 / 12 * 1em;
    }

    &-desc {
        line-height: 23 / 16 * 1em;
        margin-bottom: 35 / 16 * 1em;
    }

    @include more-sm {
        &-img {
            height: getrem(469px);
        }

        &-content {
            padding-top: getrem(90px);
        }

        &>* {
            max-width: calc(50% - #{getrem($gap / 2)});
        }
    }

    @include less-sm {
        $gap: 15px;
        gap: getvw($gap);
    }
}

.vw-review {
    padding-left: getrem(190px);

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: getrem(133px);
        height: getrem(133px);
    }

    &-title {
        color: #333;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 0;
        line-height: inherit;
    }

    &-metadata {
        display: flex;
        grid-gap: getrem(20px);
        font-size: getrem(11px);
        text-transform: uppercase;
        line-height: 25 / 11 * 1em;
        margin-bottom: getrem(20px);

        .date {
            color: rgba(51, 51, 51, 0.5);
        }
    }

    &-stats {
        padding-top: 0;
        padding-bottom: 0;

        .rate {
            font-weight: 600;
        }
    }

    &-content {
        background-color: #f1f6f6;
    }

    @include less-sm {
        padding-left: 0;
        padding-top: 0;

        &-img {
            top: getvw(45px);
            left: 50%;
            transform: translate(-50%, 0);
            width: getvw(80px);
            height: getvw(80px);
        }

        &-content {
            padding-top: getvw(170px);
        }

        &-title {
            margin-left: auto;
        }
    }
}

.vw-form {

    &-input,
    input[type="name"],
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        background-color: #f1f6f6;
    }
}

.vw-modal {
    &-content {
        p {
            text-align: center;
        }
    }
}

#menu-active:checked {
    ~.vw-header-navbar {
        .lines [class^=line-] {
            background-color: #000000;
        }
    }
}