/* VENDOR WEBSITE CUSTOM STYLING: THEME TWO */
@import "./mixins/mixins";

h1,
.vw-h1,
h2,
.vw-h2,
h3,
.vw-h3,
h4,
.vw-h4 {
    font-family: CormorantGaramond;
    text-align: center;
    text-transform: none;
}

.vw-button,
a.vw-button,
button.vw-button {
    font-size: Min(getvw(13px), getrem(15px));
    text-transform: none;
}

.vw-hero {
    background-color: #f8f5f5;
}

.vw-posts {
    &-list {
        &-item {
            margin-bottom: Min(getvw(45px), getrem(60px));
        }
    }
}

.vw-post-card {
    $gap: 60px;
    height: auto;
    align-items: stretch;
    gap: getrem($gap);


    &-content {
        text-align: center;
        background-color: #f8f5f5;
    }

    &-metadata {
        justify-content: center;
        margin-bottom: 35 / 12 * 1em;
    }

    &-desc {
        line-height: 23 / 16 * 1em;
        margin-bottom: 35 / 16 * 1em;
    }

    @include more-sm {
        &-img {
            height: getrem(469px);
        }

        &-content {
            padding-top: getrem(90px);
        }

        &>* {
            max-width: calc(50% - #{getrem($gap / 2)});
        }
    }

    @include less-sm {
        $gap: 15px;
        gap: getvw($gap);
    }
}

.vw-form {

    &-input,
    input[type="name"],
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        background-color: #f1f6f6;
    }
}

.vw-modal {
    &-content {
        p {
            text-align: center;
        }
    }
}