{% extends "../../layouts/default.njk" %}
{% block head %}
    <link rel="stylesheet" href="../../../scss/vw-theme-two.scss">
{% endblock head %}
{% import "../../macros/macro-list.njk" as list %}
{% set items = ["https://assets.codepen.io/12005/windmill.jpg", "https://assets.codepen.io/12005/suspension-bridge.jpg", "https://assets.codepen.io/12005/sunset.jpg"] %}
{% block content %}
    <section class="vw-section vw-gallery" id="gallery">
        <div class="vw-section-header">
            <div class="vw-container">
                <h1>Gallery</h1>
            </div>
        </div>
        <div class="vw-section-content">
            <div class="vw-container">
                {{ list.gallery(items, true) }}
            </div>
        </div>
    </section>
{% endblock content %}